/* Regole Generali  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,400&display=swap');
body{
    font-family:'Montserrat', sans-serif;
}

/* clearfix  */
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Regole iniziali macrostruttura  */
main{
    height: calc(100vh - 100px);
    width:100%;
}
#navbar_left{
    width: 200px;
    background-color: black;
    height: 100%;
    float: left;
}
#central {
    width: calc(100% - 200px );
    background-color: rgb(15, 12, 27);
    height: 100%;
    float:left;
    overflow-y: auto;
}

#principal_section{
    color: white;
}




/* Footer  */
footer{
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: 100px;
    background-color: rgb(26, 25, 25) ;
}




/* Inizio dettagli  */
/* Navbar left  */

#navbar_left{
    padding: 0 10px;
    overflow-y: hidden;
}
#navbar_left .space_navbar_left{
    margin:20px 0 ;
}

    /* logo  */
    #logo_spotify img{
        width: 70%;
        height: auto;
    }
        /* logo none  */
        #logo_spotify #logo_on_smartphone{
            width: 100%;
            height: auto;
            display: none;
        }
    /* Search home library  */
    #container_top{
        height:90% ;
    }
    #nav_top .icon_navbar{
        width: 20%;
        height: auto;
    }
    #nav_top li{
        width: 100%;
        margin: 5px 0;
    }
    #nav_top a {
        text-decoration: none;
        display: flex;
        color: grey;
        align-items: center;
    }
    #nav_top .padding_span{
        font-size: 14px;
    }

    /* Playlist  */
    #playlist{
        color:grey;
        font-size: 14px;
        height: 60%;
        overflow-y: auto;
    }
    #playlist h3{
        margin-top: 40px;
        color: white;
    }
    #playlist #add_playlist{
        display: flex;
        align-items: center;
    }
    #playlist #add_playlist #add{
        background-color: grey;
    }
    #playlist #add_playlist #add #aggiungi{
        color: #000;
    }
    #add a{
        display: inline-block;
        width: 100%;
        padding: 10px ;
    }
    #crea{
        font-weight: bold;
        font-size: 16px;
        padding: 0 10px;
    }
    .space_playlist{
        margin: 20px 0;
    }

    /* User e download  */
    #user_download{
        background-color: black;
        font-size: 14px;
        border-bottom: 1px solid grey ;
        padding-bottom: 5px;
    }
    #user_download a{
        display: flex;
        align-items: center;
        color: grey;
        text-decoration: none;
    }
    #user_download img {
        width: 14px;
        height: auto;
        margin-right: 5px;
    }

    #user #usericon{
        width: 25px;
        height: auto;
        margin-right: 5px;
        background-color: grey;
        border-radius: 50%;
    }
    #footer_navbar_left{
        background-color: black;
    }
    
    #user a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    #after_img{
        color: white;
        font-size: 14px;
    }

    /* Central top upgrade  */
    #top_upgrade{
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        padding: 10px;
        text-align: end;
        position: fixed;
        top: 0;
        left: 0;
        color: white ;
    }
    #top_upgrade a{
        text-decoration: none;
        color: white;
        padding: 5px 15px;
        border: 1px solid white;
        border-radius: 15px;
        display: inline-block;
        font-size: 20px;
        
    }

    /* Principal section  */

    #principal_section{
        padding: 20px;
        margin-top: 50px;
    }
    #navbar_central ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #navbar_central li{
        list-style: none;
        margin: 0 10px;
    }
    #navbar_central li a {
        color: grey;
        text-decoration: none;
        font-size: 14px;
    }



    /* Principal section  */
    .group .music a {
        display: inline-block;
        color: white;
        text-decoration: none;
    }
    #principal_section h2{
        margin-top: 20px;
    }

    .group{
        width: calc(100% / 6); 
    }
    .group .music{
        width: 100%;
        height: 100%;
    }
    .container_music{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .music img{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 5px;
    }
    .music h3{
        margin-bottom: 10px;
    }
    .music span{
        color: grey;
    }
    .container_music .music{
        text-align: center;
    }
    
    /* Creato per  */
    #sottoh2{
        display: inline-block;
        margin-top: 10px;
        color: grey;
        font-size: 14px;
    }

    /* Artisti popolari  */
    .group .popolari img{
        border-radius: 50%;
    }




    /* Footer  */
    #footer_left{
        float: left;
        width: 20%;
        height: 100%;
        color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    #footer_left img{
        width: 20%;
        height: auto;
    }
    #footer_left h3{
        color: white;
    }


    #footer_central{
        margin: 0 10%;
        float: left;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   #selection_song{
       padding: 0 180px;
   } 
    #footer_central a{
        color: white;
    }
    #selection_song{
        display: flex;
        justify-content: space-around;
    }

    #minuto{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    #minuto .look_minute{
        color: white;
    }
    #minuto input{
        width: 80%;
        color: grey;
    }




    #footer_right{
        float: left;
        width: 20%;
        height: 100%;

        /* debug  */
        background-color: rgb(173, 255, 105);
    }



    /* Hover  */
    /* hover li  */
    .hover_all:hover{
        color: white;
    }

    /* hover upgrade  */
    #top_upgrade a:hover{
        zoom: 120%;
    }

    #navbar_central li a:hover{
        color: white;
    }

    /* hover immagini */
    .hover{
        position: relative;
    }
    .player_hover{
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .hover:hover .player_hover{
        display: inline-block;
    }

    







    /* Mediaquery  md  */
    @media all and (max-width:878px){
        .group{
            width: calc(100% / 4); 
        }
    }
     
    /* Mediaquery s  */
    @media all and (max-width:639px){
        .group{
            width: calc(100% / 2); 
        }
    }


/* Mediaquery telefono */
@media all and (max-width:552px){
    #navbar_left{
        width: 50px;
    }
    #central{
        width: calc(100% - 50px);   
    }

    /* navbarleft  */
    #logo_spotify img{
        display: none;
    }
    #logo_spotify #logo_on_smartphone{
        width: 100%;
        height: auto;
        display: inline-block;
    }

    #nav_top .padding_span{
        display: none;
    }
    #nav_top .icon_navbar{
        width: 100%;
        height: auto;
    }
    #playlist{
        display: none;
    }

    .after_img{
        display: none;
    }
    #user_download img{
        width: 100%;
        height: auto;
    }
}    